body{
    font-family:sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* cambiamos el nombre de articulo con una clase y ahora se ve */
.card{
    background-color: #323650;
    border-radius: 10px;
    padding: 30px 18px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    box-shadow: 7px 9px 20px 0px #1f22367e;
    transition: all 500ms;

}/*recordar elementos padres*/
.card:hover{
    transform: scale(1.2);
    border-radius: 18%;
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;/*el corazon va al fondo*/
}
/* en orden de importancia de selectores, id, clase y ultimas etiqueta 
id tiene mayor jerarquia*/
.header_icon{
    width: 25px;
}
.myPhoto{
    border-radius: 50%;
    position: relative;
    box-shadow: 7px 9px 20px 0px rgba(0,0,0,0.7);
    width: 30%;
    object-fit: cover;
    transition: all 1000ms;

}
.myPhoto::before{
    content: '';
    position: absolute;
    size: 0;
    background-color: red;
    z-index: 2;
}
.myPhoto:hover{
    transform: scale(1.3);
}
h1{
    font-size: 29px;
    color: #f5f5f5;
    font-weight: 500;
    margin: 10px 0 5px 0;

}
/* padre -> articule */
.article_subtittle{
    color: rgba(255, 255, 255, 0.459);
    margin: 0 0 0 0;
}
p{
    color: #f5f5f5;
    width: 40%;
    text-align: center;
    line-height: 1.4;
}
/* los botones son los que mas estilos llevan
primero se aumenta el tamaño de fuente */
button{
    font-size: 16px;
    /* pading lo hacemos gordido 5 arriba y 28 a los lados */
    padding: 13px 42px;
    border-radius: 25px;
    border: none;
    background: rgb(81,129,207);
    background: linear-gradient(90deg, rgba(81,129,207,1) 36%, rgba(247,74,233,1) 100%);
    /* color del boton, la letra */
    color: #fff; 
    box-shadow: 7px 9px 20px 0px rgba(0,0,0,0.7);

}
hr{
    width: 90%;
    margin: 30px 0 40px;
    border: solid 1px #464b66;
}
section{
    /* si se nos pone por default ya no hagamos mas */
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;

}


/* cambia todos los numeros */
section article p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    margin: 0;
    font-weight: 600;
}
.item_footer{
    font-size: 13px;
    color: rgba(128, 128, 128, 0.936);
}
/* imagen que tienen como padre un a */
/* nt child seleciona el hijo */
section article:nth-child(1) a{
    background: rgb(140,0,85);
    background: linear-gradient(90deg, rgba(140,0,85,1) 5%, rgba(210,18,116,1) 31%, rgba(209,110,190,0.9445903361344538) 95%);
    transition: all 400ms;
}
.circle_1:hover{
    transform: scale(1.2);
}
section article:nth-child(2) a{
    /* background-color: green; */
    background: rgb(32,103,217);
    background: linear-gradient(90deg, rgba(32,103,217,1) 6%, rgba(96,187,235,1) 86%);
    transition: all 500ms;
}
.circle_2:hover{
    transform: rotate(360deg);
}
section article:nth-child(3) a{
    /* background-color: green; */
    background: rgb(56,4,179);
    background: linear-gradient(90deg, rgba(56,4,179,1) 0%, rgba(104,111,235,1) 39%, rgba(127,152,228,0.9081757703081232) 93%);
    transition: all 800ms;
}
.circle_3:hover{
    transform: translate(120px, 20%);
}
section article a{
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 7px 9px 20px 0px rgba(0,0,0,0.7);

}
section article img{
    width: 50px;
}